venv/
__pycache__/
*.pyc 
.ipynb_checkpoints/
.summarizer

*.arrow
*.parquest
*.csv
dataset_info.json
state.json
dataset_dict.json



tokenized_lectures/
lecture_summarizer/
lecture_summarizer_model/

content/cleaned/